/* -------------------------color infos: light grey:#f2f2f2; blue:#0065fc ; lightblue:#deebff -------------------------------------- */
/* -------------------------responsive breakpoint 1200px- 950px- ... -------------------------------------- */
body {
    font-family: Raleway ,sans-serif;
    max-width: 1440px;
    margin: auto;
}
@media screen and (max-width: 1360px)
{
  body{
    flex-direction: column;
    font-size:100%;
  }
}
/* -----------------------------------------------------HEADER----------------------------------------------------------------------- */
header {
    display: flex;
    justify-content: space-between;
}
.logo {
  margin-top: 50px;
}
h1 {
    font-size: large;
}

/*-------------------------------------------------------NAVIGUATEUR----------------------------------------------------------------- */
nav{
  margin-right: 70px;
}
ul {
  display: flex;
}
li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border:2px solid transparent;
  padding:30px;
  overflow: hidden;
  
}
li:hover {
  border-top: 2px solid #0065FC;
}
a {
  text-decoration: none;
  color: black
}
a:hover{
  color: #0065FC;
}
.inscription{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.inscription-fictive {
  color: #0065FC;
}
/*--------------------------------------------------------- FORM RECHERCHE----------------------------------------------------------- */

.flex-form {
  display: flex;
  flex-direction: row;
  width: 425px;
  height: 50px;
}
.ville {
  border: 2px solid;
  border-color: #F2F2F2;
} 
.flex-form input[type="submit"] {
  width: 135px;
  background-color: #0065FC;
  border: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  font-size: medium;
  font-weight: bold;
  letter-spacing: 1px;
}
/* --------------icon geoposition----------------- */
.icone-marker {
  font-size: 16px;
  background-color:  #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 15px 0 0 15px;
}
.icone-marker .fa-map-marker {
  font-size: 18px;
  margin-left: 22px;
  margin-top: 20px;
}
/* -----------------------------------------------------FILTRES !!verifier active !!------------------------------------------------- */
.filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-left: 15px;
}
.titre-filtres {
  font-size: 20px;
}
@media screen and (max-width: 950px){
  .filtres{
    width: 100%;
    align-content: space-between;
  }
}
.check-filtre{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  border: 3px solid #f2f2f2;
  height: 50px;
  margin-left: 25px;
}
input[type="checkbox"]{
  visibility: hidden;
}
.nom-filtre{
  margin-right: 25px ;
}
.bouton-filtre-icon .fa-dog,
.bouton-filtre-icon .fa-heart,
.bouton-filtre-icon .fa-child,
.bouton-filtre-icon .fa-money-bill-wave{
  color: #0065FC;
}
/* --------------hover et active boutton----------------- */
.check-filtre:hover{
  background-color: #0065FC;
}
.check-filtre .nom-filtre:hover{
  color: white;
}
.check-filtre:active{
  flex-direction: row-reverse;
}
.check-filtre .nom-filtre:active{
  margin-left: 25px;
}
 /* --------------icones boutton----------------- */   
.bouton-filtre-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#deebff;
  width: 50px;
  height: 50px;
  border: 2px solid #deebff;
  border-radius: 100%;  
}

/* --------------annexe----------------- */
.texte-info{
  display:flex;
  flex-direction: row;
  margin-left: 15px;
}
.icone-annexe{
  border-radius: 100%;
  border: 2px solid #f2f2f2;
  width: 21px;
  height: 21px;
  margin-top: 12px;
  margin-right: 10px;
}
.texte-info i.fa-info {
  color: #0065FC;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 9px;
}

/*----------------------------------------------------------- WRAPPER----------------------------------------------------------------- */
.wrapper {
  display: flex;
  width:100%;
  margin-bottom: 60px;
}
@media screen and (max-width:1360px)
{
  .wrapper{
    background-color:#f2f2f2;
    border-radius: 20px;
  }
}
@media screen and (max-width: 1320px){
  .wrapper{
    flex-direction: column-reverse;
    justify-content:space-between;
    padding-bottom: 40px;
    border-radius: 0;
    background-color: transparent;
  }
}
@media screen and (max-width: 10px){
  .wrapper{
    background-color: transparent;
  }

}
/* --------------hebergements ----------------- */
.wrapper-hebergements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  width:880px;
  background-color: #f2f2f2;
  padding: 30px;
  margin-right: 40px;
}  
@media screen and (max-width: 1360px){
  .wrapper-hebergements{ 
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }
}
@media screen and (max-width: 10px){
  .wrapper-hebergements{
    justify-content: center;
  }
}
.titre-hebergement {
  width: 100%;
  margin-left:15px
}
.more {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  width: 100%;
  margin: 20px 0 0 30px;
}
/* --------------cartes hebergements----------------- */
.carte {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:5px;
  background-color: white;
  width:250px;
  height:200px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
  margin: 15px;
}
@media screen and (max-width: 10px){
  .carte{
    width: 335px;
    height:200px;
  }
}
/* --------------images hebergements----------------- */
 .images-hebergements {
  object-fit:cover;
  width: 240px;
  height: 115px;
  border-radius: 15px 15px 0 0;
}
@media screen and (max-width: 10px){
  .images-hebergements{
    width: 325px;
    height: 115px;
  }
}
/* --------------texte carte hebergement----------------- */
.infos-carte{
  width: 100%;
  margin: 10px 0 0 30px;
}
.texte-carte {
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}
.texte-annexe{
  font-size: 14px;
  margin: 5px 0 30px 0;
}
/* --------------icones etoile----------------- */
.star {
  display: flex;
  font-size: 12px;
  color:#0065FC;
}
.fa-star.empty {
  color:#f2f2f2;
}
/* --------------aside populaire----------------- */
.wrapper-populaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:420px;
  border-radius: 20px;
  background-color: #f2f2f2;
}
@media screen and (max-width: 1320px){
  .wrapper-populaires{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 0px;
  }
}
.titre-populaire {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 345px;
  margin-top: 50px;
}
@media screen and (max-width: 1320px){
  .titre-populaire{
    width: 100%;
    margin: 40px 95px 20px 95px;
  }
}
/* --------------cartes populaires alleger code et voir flexbox !!----------------- */
.carte-populaire {
  display: flex;
  border-radius: 15px;
  width: 345px;
  height: 145px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
  margin: 15px;
}
@media screen and (max-width: 1140px){
  .carte-populaire{
    width: 335px;
    height: 145px;
  }
}
/*---------------- images cartes populaires----------------------- */
.images-populaires {
  object-fit:cover;
  background:#0065FC;
  height: 135px;
  width: 130px;
  margin: 5px 0 0 5px;
  border-radius: 15px 0 0 15px;
}
.infos-carte-populaire {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
  width: 150px;
  height: 120px;
  line-height: 20px;
}

/* ---------------------------------------------------------WRAPPER2----------------------------------------------------------------- */
.wrapper2 {/* regler width */
  display:grid;
  grid-template-columns: 350px 350px 350px 350px; /* ------alleger repeat--------------- */
  grid-template-rows:240px 240px;
  grid-row-gap: 40px;
}
@media screen and (max-width: 1360px){  /* --------------cartes activités a changer---------------- */
  .wrapper2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
}
/* --------------cartes activités alleger le code! ---------------- */
.carte-activité{ 
  display:flex;
  flex-direction:column;
  border-radius:15px;
  width:300px;
  height:450px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
}

.carte-activité-alternative{ 
  display:flex;
  flex-direction:column;
  border-radius:15px;
  width:300px;
  height:240px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
}
.carte-activité-médium-2 {
  display:flex;
  flex-direction:column;
  border-radius:15px;
  width:300px;
  height:210px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
}
.carte-activité-médium-3 { 
  display:flex;
  flex-direction:column;
  border-radius:15px;
  width:300px;
  height:210px;
  margin-top:-40px;
  grid-column: 4 ;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
}
.carte-activité-small { 
  display:flex;
  flex-direction:column;
  border-radius:15px;
  width: 300px;
  height: 170px;
  grid-row-start:2;
  grid-column-start:2;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
}
/*---------------- hover cartes activités----------------------- */
.carte-activité-small:hover,
.carte-activité-médium-3:hover,
.carte-activité-médium-2:hover,
.carte-activité-alternative:hover,
.carte-activité:hover,
.carte-populaire:hover,
.carte:hover {
  box-shadow: 1px 2px 5px 1px #deebff
 }
/*---------------- images cartes activités !!alleger le code!----------------------- */
.images-activités {
  object-fit:cover;
  border-radius: 15px 15px 0 0;
  background:#0065FC;
  width:300px;
  height:400px;
}
.images-activités-alternative {
  object-fit:cover;
  border-radius: 15px 15px 0 0;
  background:#0065FC;
  width:300px;
  height:180px;
}
.images-activités-médium {
  object-fit:cover;
  border-radius: 15px 15px 0 0;
  background:#0065FC;
  width:300px;
  height:150px;
}
.images-activités-small {
  object-fit:cover;
  border-radius: 15px 15px 0 0;
  background:#0065FC;
  width:300px;
  height:120px;
}
/* ---------------texte-------------- */
.texte-carte-nom {
  margin-left: 20px;
}
.texte-carte-médium {
  margin-left: 20px;
  margin-top: 25px;
}

/* -----------------------------------------FOOTER verfifie margin wrapper activité en responsive-------------------------------------- */

footer {
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
} 
.blocfooter{
  margin: 20px;
  line-height: 30px;

}
@media screen and (max-width: 1200px){ 
  .footer{
    display: flex;
    flex-wrap: wrap;
  }
}