/* -------------------------color infos: light grey:#f2f2f2; blue:#0065fc ; lightblue:#deebff ----------------------------------- */
@font-face{
  font-family: 'Raleway';
  src: url("Raleway/Raleway-Regular.ttf");
  src: url("Raleway/Raleway-Light.ttf");
  src: url("Raleway/Raleway-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Raleway" ,sans-serif;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
/* --main-- */
main{
  padding: 0 50px 0 50px;
}
@media screen and (max-width: 700px){
  main {
    padding: 0;
  }
  section{
    padding: 20px;
  }
}
@media screen and (max-width: 380px){
  .section{
    padding: 10px;
  }
}
/* -------------------------------------------------HEADER---breakpoint: 700px; 380px ------------------------------------------------ */
header{
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 100px;
  height: 50px;
  margin: 50px 0 40px 0;
}
/* --Naviguateur-- */
.menu{
  display: flex;
  flex-direction: row;
  
}
li{
  display: flex;
  border-bottom: 2px solid transparent;
  padding: 45px 30px 20px 30px;
  overflow: hidden;
  border: 2px solid transparent;
} 
/* --lien d'inscription-- */
a{
  text-decoration: none;
  color: black
}
.inscription{
  font-weight: bold;
}
.false-inscription{
  color: #0065FC;
}
/* --hover nav-- */
li:hover{
  border-top: 2px solid #0065FC;
}
a:hover{
  color: #0065FC;
}
/* --titre1-- */
h1 {
  font-size: large;
}
@media screen and (max-width:700px){
  header{
    margin-bottom: 35px;
  }
  .logo{
    position: absolute;
    padding: 0;
    margin: 30px 0 0 20px;
  }
  .menu{
    padding: 0;
    width: 100%;
    margin: 60px 0 0 0;
  }
  .menu .inscription{
    justify-content: flex-end;
  }
  li{
    width: 100%;
    border-bottom: 3px solid  #F2F2F2;
    justify-content: center;
  }
  li:hover{
    border-top: none;
    border-bottom: 3px solid #0065FC ;
  }
  .inscription{
    border: 0;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  .inscription:hover{
    border: 0;
  }
}
/*--------------------------------------- FORM RECHERCHE--breakpoint: 700px; 380px --------------------------------------------------- */
.search-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 420px;
  height: 50px;
  border: 2px solid #F2F2F2;
  border-radius: 20px;
}
.city {
  padding: 15px;
  border: none;
  width: 235px;
  height: 50px;
  font-size: medium;
  font-weight: bold;
} 
.search{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 135px;
  background-color: #0065FC;
  border: 2px solid #0065FC;
  border-radius: 0 15px 15px 0 ;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.search .fa-search{
  display: none;
}
input[type="submit"]{
  background: 0;
  border: 0;
  color: white;
  font-size: medium;
  font-weight: bold;
}
/* --icon geoposition-- */
.icon-marker{
  background-color: #f2f2f2;
  width: 60px;
  height: 50px;
  border-radius: 15px 0 0 15px;
}
.icon-marker .fa-map-marker{
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
}
@media screen and (max-width:700px){
  .search-form{
    max-width:335px ;
  }
  .search{
    width: 60px;
    border-radius: 15px;
    border: none;
  }
  .text-button{
    display: none;
}
  .search .fa-search{
    display: initial;
    color: white;
  }
  input[type="submit"]{
    border-radius: 15px;
    visibility: hidden;
  }
  .icon-marker{
    width: 70px;
  }
}
@media screen and (max-width:380px){
  .search-form{
    max-width: 260px;
  }
  .icon-marker .fa-map-marker{
    margin-left: 15px;
  }
  .city{
    padding: 5px;
    font-size: small;
  }
  .search .fa-search{
    right: 0;
    bottom: 10px;
  }
  h1{
    font-size: larger;
  }
}
/* ------------------------------------------------------FILTRES--breakpoint: 950px--------------------------------------------------- */
.filters{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin: 30px 0 0 15px;
}
.title-filter{
  font-weight: bold;
  font-size: 20px;
  margin: 15px 30px auto 0;
}
.toogle-checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  border: 3px solid #f2f2f2;
  height: 50px;
  margin: 0 25px 15px 0;
  cursor: pointer;
}
.toogle-checkbox input{
  display: none;
}
.rounded{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid #deebff; 
  position: relative;
  right: 5px;
}
.name-filter{
  margin: auto 25px auto 15px;
}
.rounded .fa-dog,
.rounded .fa-heart,
.rounded .fa-child,
.rounded .fa-money-bill-wave{
  color: #0065FC;
}
/* --hover et checked -- */
.checkbox:hover{
  background-color: #f2f2f2;
  color: #0065FC;
}
input:checked + .rounded{
  order: 2;
  left: 10px;
  right: initial;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
/* --annexe-- */
.text-info{
  width: 100%;
  display:flex;
  flex-direction: row;
  margin-left: 15px;
}
.icon-annex{
  border-radius: 100%;
  border: 2px solid #f2f2f2;
  width: 21px;
  height: 21px;
  margin-top: 12px;
  margin-right: 10px;
}
.text-info i.fa-info {
  color: #0065FC;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 9px;
}
@media screen and (max-width: 950px){
  .filters{
    max-width: 700px;
    align-content: space-between;
  }
  .title-filter{
    width: 100%;
    margin-bottom: 20px;
  }
  .text-info{
    margin-left: auto;
  }
}
/*-------------------------------------- WRAPPER------breakpoint: 1460px ;1430px------------------------------------------------- */
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}
@media screen and (max-width:1460px)
{
  .wrapper{
    background-color:#f2f2f2;
    border-radius: 20px;
  }
}
@media screen and (max-width: 1430px){
  .wrapper{
    flex-direction: column-reverse;
    justify-content:space-between;
    padding-bottom: 40px;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0px;
  }
}
/* ----------------------------------WRAPPER HEBERGEMENTS ------breakpoint: 1460px ;1430px; 380px------------------------------------- */
.wrapper-accomodations{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 25px;
  margin-right: 30px;
}  
/* --titre et infos hebergement-- */
.title-accomodation{
  width: 100%;
  padding-left: 15px;
}
.more{
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin: 20px 0 0 30px;
}
/* --cartes hebergements-- */
.card {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:5px;
  background-color: white;
  width:250px;
  height:200px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
  margin: 15px;
}
/* --images hebergements-- */
 .accomodation-picture{
  object-fit:cover;
  width: 240px;
  height: 115px;
  border-radius: 15px 15px 0 0;
}
/* --texte carte hebergement-- */
.infos-card{
  width: 100%;
  margin: 10px 0 0 10px;
}
.text-card{
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}
.text-annex{
  font-size: 14px;
  margin: 5px 0 30px 0;
}
/* --icones etoile-- */
.star {
  display: flex;
  font-size: 12px;
  color:#0065FC;
}
.fa-star.empty {
  color:#f2f2f2;
}
@media screen and (max-width: 1460px){
  .wrapper-accomodations{ 
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }
}
@media screen and (max-width: 1430px){
  .wrapper-accomodations{
    justify-content: center;
    padding: 0;
  }
  .card{
    width: 330px;
    height: 200px;
  }
  .accomodation-picture{
    width: 320px;
    height: 115px;
  }
}
@media screen and (max-width: 380px){
  h2{
    font-size: larger;
  }
  .card{
    width: 280px;
  }
  .accomodation-picture{
    width: 270px;
  }
}
/* -------------------------------ASIDE POPULAIRE---breakpoint: 1430px; 950px; 380px ------------------------------------------- */
.wrapper-popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:420px;
  border-radius: 20px;
  background-color: #f2f2f2;
}
/* --title-- */
.title-popular{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 345px;
  margin-top: 50px;
}
/* --cards popular -- */
.card-popular{
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  width: 345px;
  height: 145px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
  margin: 0 35px 30px 35px;
  padding: 5px 0 5px 5px;
}
/*-- pictures and texts cards-- */
.popular-picture{
  object-fit:cover;
  background:#0065FC;
  height: 144px;
  width: 130px;
  border-radius: 15px 0 0 15px;
}
.infos-card-popular{
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
  width: 150px;
  line-height: 20px;
}
@media screen and (max-width: 1430px){
  .wrapper-popular{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
  }
  .title-popular{
    width: 100%;
    margin:40px 45px 20px 30px;
  }
  .card-popular{
    margin: 0 25px 25px;
  }
}
@media screen and (max-width:950px){
  .card-popular{
    margin: 10px;
  }
  .wrapper-popular{
    border-radius: 0;
    flex-direction: column;
  }
  .title-popular{
    max-width:300px;
  }
}
@media screen and (max-width: 380px){
  .title-popular{
    margin: 40px 0 10px 0;
    max-width: 270px;
  }
  .card-popular{
    width: 280px;
    height: 180px;
  }
  .popular-picture{
    width: 130px;
    height: 180px;
  }
  .infos-card-popular {
    width: 100px;
    height: 50px;
    margin: 10px 0 0 10px;
  }
  .mid{
    position: relative;
    bottom: 20px;
  }
}
/* --------------------------------------WRAPPER-2---breakpoint: 1430px; 700px 380px  ------------------------------------------------ */
.wrapper-2 {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:repeat(2, 240px);
  grid-row-gap: 40px;
  grid-column-gap: 36px;
}
/* --titre wrapper activité-- */
.title-wrapper-2{
  margin-top: 0;
}
/* --cartes activités-- */
.card-activity-small,
.card-activity-medium-3,
.card-activity-medium-2,
.card-activity-alternative,
.card-activity{ 
  display:flex;
  flex-direction:column;
  border-radius:15px;
  width:300px;
  height:450px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
}
.card-activity-alternative{
  height:240px;
}
.card-activity-medium-3,
.card-activity-medium-2 {
  height:210px;
}
.card-activity-medium-3 { 
  margin-top:-40px;
  grid-column: 4 ;
}
.card-activity-small { 
  height: 170px;
  grid-row-start:2;
  grid-column-start:2;
}
/*-- hover cartes activités-- */
.card-activity-small:hover,
.card-activity-medium-3:hover,
.card-activity-medium-2:hover,
.alternative:hover,
.card-popular:hover,
.card-activity:hover,
.card:hover{
  box-shadow: 1px 2px 5px 1px #deebff
 }
/*-- images cartes activités -- */
.picture-activity-small,
.picture-activity-medium,
.alternative,
.picture-activity{
  object-fit:cover;
  border-radius: 15px 15px 0 0;
  width:300px;
  height:400px;
}
.alternative{
  height:180px;
}
.picture-activity-medium{
  height:150px;
}
.picture-activity-small{
  height:120px;
}
/* --texte-- */
.text-card-name {
  margin-left: 20px;
}
.text-card-name-medium {
  margin-left: 20px;
  margin-top: 25px;
}
@media screen and (max-width: 1430px){
  .wrapper-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .card-activity-small,
  .card-activity-medium-3,
  .card-activity-medium-2,
  .card-activity-alternative,
  .card-activity{
    width: 335px;
    height: 200px;
    align-items: center;
  }
  .card-activity-medium-3{
    margin-top: auto;
  }
  .picture-activity-small,
  .picture-activity-medium,
  .picture-activity-alternative,
  .picture-activity{
    margin-top: 5px;
    width: 325px;
    height: 135px;
  }
  .text-card-name-medium {
    margin-top: 15px;
  }
}
@media screen and (max-width: 700px){
  .title-wrapper-2{
    margin-left:20px;
  }
}
@media screen and (max-width: 380px){
  .wrapper-2{
    justify-content: center;
  }
  .card-activity-medium-3,
  .card-activity-medium-2,
  .card-activity-small,
  .card-activity-alternative,
  .card-activity{
    width: 280px;
  }
  .picture-activity-small,
  .picture-activity-medium,
  .picture-activity-alternative,
  .picture-activity{
    width: 270px;
  }
}
/* ----------------------------------------FOOTER----breakpoint: 950px; 700px; 380px-------------------------------------------------- */
footer{
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.block-footer{
  line-height: 30px;
  margin: 45px 10% auto 50px;
}
@media screen and (max-width:950px){
  .block-footer{
    margin-right: auto;
  }
}
@media screen and (max-width:700px){ 
  footer{
    flex-direction: column;
    padding: 30px;
  }
  .block-footer{
    margin: 20px 0 10px 0;
  }
}
@media screen and (max-width:380px){
  footer{
    display: block;
  }
}